<header>
  <div class="logo">
    <a href="/">
    <img src="/assets/logo.png" alt="はとあげマート">
    </a>
  </div>

  <nav>
    <ul>
      <li><a href="/">ホーム</a></li>
      <li><a href="/mail/">メールマガジン</a></li>
      <li><a href="/products/">商品一覧</a></li>
      <li><a href="https://religion.hatoage.wata777.f5.si/">はとあげ教</a></li>
      <li>
        <a href="https://discord.gg/sakuraza-tan-wang-guo-sakura-talk-kingdom-1208962938388484107">
          お問い合わせ
        </a>
      </li>
    </ul>
  </nav>
</header>
