<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>はとあげマート</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://dmc1acwvwny3.cloudfront.net/atatus-spa.js"></script><font></font>
    <script type="text/javascript"><font></font>
      atatus.config('3b8a17d616d24583a30d41294ed01917').install();<font></font>
    </script>
    <script defer src="/script.js"></script>
    <link rel="icon" href="/assets/favicon.ico">
    <meta name="description" content="美味しいはとあげを出来たてで提供する架空のコンビニ公式サイト。" />
    <meta name="keywords" content="わたあめえ, はとあげ, Fortnite, Discord, はと," />
    <meta name="author" content="はとあげマーケット" />
    <link rel="canonical" href="https://hatoagemarket.wataamee777.f5.si/" />
    <link rel="icon" href="/assets/favicon.ico" type="image/ico" />

    <!-- OGP -->
    <meta property="og:title" content="はとあげマーケット" />
    <meta property="og:description" content="美味しいはとあげを出来たてで提供する架空のコンビニ公式サイト。" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hatoagemarket.wataamee777.f5.si/" />
    <meta property="og:image" content="https://hatoagemarket.wataamee777.f5.si/assets/logo.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="はとあげマーケット" />
    <meta name="twitter:description" content="美味しいはとあげを出来たてで提供する架空のコンビニ公式サイト。" />
    <meta name="twitter:image" content="https://hatoagemarket.wataamee777.f5.si/assets/logo.png" />
</head>
<body>
<%- include("partials/header") %>

    <main>
        <!-- コンセプト画像 -->
        <div class="concept-image fade-in">
            <img src="/assets/concept.png" alt="コンセプト画像">
        </div>
        
        <div class="search-box">
            <script async src="https://cse.google.com/cse.js?cx=2030408b0f65e47be"></script>
            <div class="gcse-search"></div>
        </div>

        <section class="intro">
            <h1>ようこそ！はとあげマートへ</h1>
            <p>美味しい「はとあげ」を販売する架空のコンビニです。</p>
            <a href="/products/" class="btn">商品一覧を見る</a>
        </section>
    </main>
<%- include("partials/footer") %>
</body>
</html>
