<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>はとあげマート</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://dmc1acwvwny3.cloudfront.net/atatus-spa.js"></script><font></font>
    <script type="text/javascript"><font></font>
      atatus.config('3b8a17d616d24583a30d41294ed01917').install();<font></font>
    </script>
    <script defer src="/script.js"></script>
    <link rel="icon" href="/assets/favicon.ico">
    <meta name="description" content="美味しいはとあげを出来たてで提供する架空のコンビニ公式サイト。" />
    <meta name="keywords" content="わたあめえ, はとあげ, Fortnite, Discord, はと," />
    <meta name="author" content="はとあげマーケット" />
    <link rel="canonical" href="https://hatoage.wata777.f5.si/" />
    <link rel="icon" href="/assets/favicon.ico" type="image/ico" />
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#f76f51">

<!-- iOS対応 -->
<link rel="apple-touch-icon" href="/assets/icon-192.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">


    <!-- OGP -->
    <meta property="og:title" content="はとあげマーケット" />
    <meta property="og:description" content="美味しいはとあげを出来たてで提供する架空のコンビニ公式サイト。" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hatoage.wata777.f5.si/" />
    <meta property="og:image" content="https://hatoage.wata777.f5.si/assets/logo.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="はとあげマーケット" />
    <meta name="twitter:description" content="美味しいはとあげを出来たてで提供する架空のコンビニ公式サイト。" />
    <meta name="twitter:image" content="https://hatoage.wata777.f5.si/assets/logo.png" />
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
            <img src="assets/logo.png" alt="はとあげマート">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/mail/">メールマガジン</a></li>
                <li><a href="/products/">商品一覧</a></li>
                <li><a href="https://religion.hatoage.wata777.f5.si">はとあげ教</a></li>
                <li><a href="https://discord.gg/sakuraza-tan-wang-guo-sakura-talk-kingdom-1208962938388484107">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- コンセプト画像 -->
        <div class="concept-image fade-in">
            <img src="/assets/concept.png" alt="コンセプト画像">
        </div>
        
        <a href="/search/">商品検索</a>
        
        <section class="intro">
            <h1>ようこそ！はとあげマートへ</h1>
            <p>美味しい「はとあげ」を販売する架空のコンビニです。</p>
            <a href="/products/" class="btn">商品一覧を見る</a>
        </section>
    </main>

    <footer>
        <p>© 2025 はとあげマート</p>
    </footer>
</body>
</html>
